<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: rgb(53,56,53);">
	<div align="center" class="jumbotron jumbotron-fluid" style="background-color:rgba(136,136,136,0.5);padding: 15px;">
		<h1 class="display-4" style="color:lightgrey;">DAILY NEWS HEADLINES</h1>
		<h5 style="color:lightgray;">SELECT NEWS</h5>
		<div class="btn-group mr-2" role="group" aria-label="Basic example">
			<form method="POST" action="{% url 'scrape1' %}">
				{% csrf_token %}
				<button type="submit" class="btn btn-dark" style="color: whitesmoke;font-size:18px;" >India News</button>
			</form>
			<br>
		</div>	
		<div class="btn-group mr-2" role="group" aria-label="Basic example">
			<form method="POST"  action="{% url 'scrape2' %}">
				{% csrf_token %}
				<button type="submit" class="btn btn-dark" style="color: whitesmoke;font-size:18px;">World News</button>
			</form>
		</div>
		
	</div>


<div class="container-fluid">
			{% for object in object_list %}
			<!--
			<div class="card" style="width: 18rem;border:5px black solid;">
		  
		  <div class="card-body">
		    <h5 class="card-title"><div class="card-body">
		      <a href="{{object.url}}"><h5 class="card-title">{{object.title}}</h5></a>
		    </div></h5>
			</div>
		  </div> -->

		 <div class="card" style="width: 100%; background-color:rgba(136,136,136,0.5);
		 box-shadow: 0 4px 8px 0 rgba(10,10,10, 0.7), 0 6px 20px 0 rgba(10,10,10, 0.7);">
			<div class="card-header"><h5 class="card-title" style="color: lightgray;font-size:22px;">Headline</h5></div>
			  	<div class="card-body">
				    <p class="card-text" style="color: white;font-size:22px;">{{object.title}}</p>
				   <!-- <a href="#" class="btn btn-dark">Go somewhere</a>  "add the links to news later --> 
				</div>
		</div>
			<br>

		  {% endfor %}
	 
</div>

<!-- <div style="padding: 20px;">
	<div class="card" style="width: 100%;">
	  <div class="card-header">
	    Featured
	  </div>
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Cras justo odio</li>
	    <li class="list-group-item">Dapibus ac facilisis in</li>
	    <li class="list-group-item">Vestibulum at eros</li>
	  </ul>
	</div>
</div> -->

	<script
	src="http://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

